<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Form</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <div class="brand-logo"></div>
        <div class="brand-title">TWITTER</div>
        <form method="POST" action="http://localhost:1000">
            <div class="inputs">
                <label>Enter a text</label>
                <input type="text" name="keywords" placeholder="exapmle: nasa is the best!" />
                <div class="radio-buttons">
                    <input type="radio" id="option1" name="source" value="CSV">
                    <label for="option1">CSV</label>
                    <input type="radio" id="option2" name="source" value="API">
                    <label for="option2">API</label>
                </div>
                <button type="submit">SUBMIT</button>
            </div>
        </form>
    </div>    
</body>
</html>
